# Ignore research code results directory
연구코드/data/강남/metadata/Results
연구코드/data/신촌/metadata/Results
연구코드/data/강남/landmark/landmark_report
연구코드/data/신촌/landmark/landmark_report
연구코드/data/ct_aec
__pycache__/
*.pyc
